<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <title>JSP Page</title>
    </head>
    <body>
        <!-- Navegador y Salir -->
        <nav class="navbar navbar-dark bg-dark">
            <div class="dropdown">
            <a style="color: white" class="navbar-toggler" data-toggle="dropdown"><span class="navbar-toggler-icon"></span> Home</a>
            <div class="dropdown-menu text-center">
                <a class="dropdown-item" href="/">Regresar</a>
	            <div class="dropdown-divider"></div> 
                <a class="dropdown-item" href="/users">Usuarios Existentes</a>
                </div>
            </div>

            <div class="dropdown">
                <a style="color: white" href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Cerrar Sesi&oacute;n</a>
                <div class="dropdown-menu text-center">
                    <a class="dropdown-item">Cuenta Activa:</a>
                    <form name="logoutForm" id="logoutForm" th:hidden="true" method="post" th:action="@{/logout}">
                    	<input type="submit" value="Logout" />
			        </form>
			        <div class="dropdown-item">
			        <a class="btn btn-danger btn-block" href="javascript:{}" onclick="document.getElementById('logoutForm').submit();">Cerrar Sesi&oacute;n</a>
			        </div>
                </div>
            </div>
        </nav>

        <div class="container mt-4">
            <h1 style="text-transform: uppercase;">Agregar un Nuevo Usuario</h1>
            <br><br>
            <form th:action="@{/users/save}" method="post">
                <div class="form-group">
                  <label>Nuevo de Usuario</label>
                  <input type="text" class="form-control" id="username" name="username" placeholder="Inserte un nombre de usuario">
                  <small id="emailHelp" class="form-text text-muted">Este Usuario lo utilizar&aacute; para ingresar el login</small>
                </div>
                <div class="form-group">
                  <label>Nueva Contraseña</label>
                  <input type="text" class="form-control" id="password" name="password" placeholder="Inserte una contraseña">
                  <small id="emailHelp" class="form-text text-muted">Esta contraseña la utilizar&aacute; para ingresar el login</small>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>
